{% extends "base.html" %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>
<div class="jumbotron jumbotron-fluid masthead">
    <div class="container">
      <h1 class="display-4">PiedPiper</h1>
      <p>Fique por dentro do que acontece com o mundo, <br> de maneira rápida você fica sabendo e depois vai tocar sua vida!</p>
      
    </div>
  </div>


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <img class="card-img-top" src="media/{{ post.imagem }}" alt="">
                    <h2 class="card-title" style="padding: 20px 0 0 0;">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}...</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-danger">Continuar &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
